.Imagen_registro {
    background-image: url("/lib/Img/Registro_Imagen.jpg");

}

.Registro {

    background-color: #0346fa;
}

.Imagen_registro {
    background-image: url("/lib/Img/Registro_Imagen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor_imagen {
    height: 100vh;
    width: 75%;

}


.textoregistro {
    color: white;
    margin-top: 2em;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    text-align: center;
   
}

.textoregistro:hover {
    color: #6bf5fe;
 
   
}

.href_registro {
    color: white;
    
}

.href_registro:hover {
    color: #6bf5fe;
    
}

.titulo_Gestion {

    color: white;
    margin-top: 1.5em;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
    word-spacing: 8px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease; /* Agrega la transición */
    
}
.titulo_Gestion:hover {

 color: #6bf5fe;
 transform: scale(1.1); 
}

.hrclas {
    width: 6em; 
    height: 5px; 
    background-color: white; 
    border: none; 
    margin: 1em auto; 
}






@media (max-width: 768px) {
    .Registro {
        background-color: rgba(3, 70, 250, 0.9); /* Fondo semitransparente */
        padding: 2em;
        border-radius: 10px; 
        z-index: 1; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -49%);
    
    }

    .contenedor_imagen {
        height: 100vh;
        width: 100%;
    }

    .logeo section {
        text-align: center;
        margin-top: 2em;
    }

    .titulo_Gestion {
        margin-top: 1em;
    }

}