

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
} */

/* Boton crear tarea inicio */
/* .fondo {

  background-color: #f8f9fa; 
} */

.fondo {
  background-image: url("/lib/Img/fondo_png.png");
  background-size: cover;
    z-index: -1; 
}

/* boton */
.titulo_home{
  font-size: 1.5em;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 2px 1px 1px #6db1e9;

}

.spanError{
  color: red;
}

.titulo_home:hover:hover{
  color: #008cff;
  background: #008cff;
  border:  #008cff;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

/* titulo de la lista */

.titulo_Listado{
  font-size: 2.3em;
  color: #008cff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 1.5em;

}

.contenedor_tabla{
  display: flex;
  justify-content: center;
  align-items: center;
  height: em;
  width: 50em;
  margin: 0 auto;
  text-align: center;
}



 


/* navbar */

.AltNav{
  height: 4em;
}

.TextoNavbar{
  font-size: 1em;
  text-align: center;
}

.TextoNavbar:hover:hover{
  color: #ffffff;
  background: #008cff;
  border:  #008cff;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.bg-azul {
  background-color: #0346fa; 
}

.menu_Desplegable{
  color: white;
}

/* tabla */
.th_tabla{
  background-color: #008cff;
  color: #008cff;
}




/* modal */

.Titulo_modal
{

  padding-left: 7em;
}


.imagen_modal{
  background-image: url("/lib/Img/fondo_png.png");
}