﻿@{
  ViewData["Title"] = "Home Page";
}

<!-- Button trigger modal -->
<div style="text-align: center;">
  <button type="button" class="btn btn-primary titulo_home" data-bs-toggle="modal" data-bs-target="#ModalCrearTarea">
    <i class="fa-solid fa-file-circle-plus mx-2"></i> Nueva Tarea
  </button>
</div>


<div class="modal fade" id="ModalCrearTarea" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear nueva tarea </h1>
        <button type="button" onclick="vaciarCampos()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="formulario d-flex flex-column align-items-center">
          <div class="col-md-11 mb-3">
            <input type="text" id="UserId" value="@ViewBag.UsuarioId" hidden>

            <label for="validationServer02" class="form-label">Titulo de tarea</label>
            <input type="text" class="form-control" id="TituloTarea" value="" style="text-transform: uppercase;"
              required>
            @* <div class="valid-feedback">
            Titulo del sistema
            </div> *@
            <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="TituloTareaError"><i
                class="fa-solid fa-circle-exclamation errorIcon"></i> Ingresar titulo de tarea</span>
          </div>

          <div class="col-md-11 mb-3">
            <label for="validationServer01" class="form-label">Tipo de Tarea</label>
            @Html.DropDownList("TipoTarea", null, htmlAttributes: new { @class = "form-control" })
            @* <input type="text" class="form-control is-valid" id="Tarea" value="" required> *@
            @* <div class="valid-feedback">
            Tipo de tarea
            </div> *@
            <span class="spanError animate__animated animate__fadeIn" style="display: none;" id="TipoTareaError"><i
                class="fa-solid fa-circle-exclamation errorIcon"></i> Seleccionar tipo de tarea</span>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="vaciarCampos()"
          data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="crearTarea()">Crear</button>
      </div>
    </div>
  </div>
</div>



<div>
  <h1 class="text-center my-4">Tareas</h1>
  <div id="TareaContainer" </div>
  </div>
</div>


<div class="modal fade" id="DetalleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles de la Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="Detalle" class="card-container"></div> <!-- Aquí se mostrarán las tarjetas dinámicamente -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="completarTareaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Completar Tarea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="subTareasList"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="finalizarTareaBtn" onclick="FinalizarTarea()">Finalizar
          Subtareas</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Tarea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="TareaIDEditar">

        <label for="validationServer02" class="form-label">Título</label>
        <input type="text" class="form-control" id="TituloTareaEditar" style="text-transform: uppercase;">

        <label for="validationServer01" class="form-label">Tipo Tarea</label>
        @Html.DropDownList("TipoTareaEditar", null, htmlAttributes: new { @class = "form-control" })

        <label for="validationServer01" class="form-label">Sistema</label>
        @Html.DropDownList("TipoSistemaEditar", null, htmlAttributes: new { @class = "form-control" })

        <label for="validationServer02" class="form-label">Inicio</label>
        <input type="datetime-local" class="form-control" id="FechaInicioEditar">

        <label for="validationServer02" class="form-label">Hs. Estimadas</label>
        <input type="number" class="form-control" id="TiempoEstimadoEditar">

        <label for="validationServer01" class="form-label">Observaciones</label>
        <textarea id="ObservacionesEditar" class="form-control"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="EditarTarea()">Guardar</button>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <script src="~/js/Tareas.js"></script>
}