@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 titulo_home">Crea tu tarea </h1>
    
 <div> 






  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary botonInicio" data-bs-toggle="modal" data-bs-target="#ModalCrearTarea">
    Crea tu tarea 
  </button>

  


  <div class="modal fade modal-xl" id="ModalCrearTarea" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear tarea </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <div class="modal-body">
  <form class="formulario d-flex flex-column align-items-center">
    <div class="col-md-6 mb-3">
      <label for="validationServer02" class="form-label">Titulo de tarea</label>
      <input type="text" class="form-control is-valid" id="Titulo" value="" required>
      <div class="valid-feedback">
        Titulo del sistema 
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer01" class="form-label">Estado de la tarea</label>
      <input type="text" class="form-control is-valid" id="Tarea" value="" required>
      <div class="valid-feedback">
        Tipo de tarea
      </div>
    </div>
  </form>
</div>


          




</div>