@{
  ViewData["Title"] = "Home Page";
}




<div>
  <h1 class="text-center my-4">Todas las tareas del sistema </h1>
  <div id="TareaContainer"</div>
</div>
</div>


<div class="modal fade" id="DetalleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles de la Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="Detalle" class="card-container"></div> <!-- Aquí se mostrarán las tarjetas dinámicamente -->
      </div>
    </div>
  </div>
</div>



@section Scripts {
  <script src="~/js/TodasTareas.js"></script>
}

