@page
@model LoginModel

<head>
       <link rel="stylesheet" href="~/css/Logeo.css" asp-append-version="true" />
</head>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-3 logeo">
        <section>
            <form id="account" method="post">
                <h2 class="textologeo">Ingresa con tu cuenta.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Correo/Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label color_recordar">
                        <input class="form-check-input color_recordar" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Ingresa</button>
                </div>
                <div>
               
                    <p>
                        <a class="href_logeo" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registra un nuevo Usuario</a>
                    </p>
                    @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@

                       <h1 class="titulo_Gestion">Gestión Tickets</h1>
                </div>
            </form>
        </section>
    </div>
<div class="Imagen_Logeo col-md-8 contenedor_imagen">
    <img src="ruta-de-tu-imagen.jpg" alt="" class="img-fluid w-100" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
